.card {
    display: flex;
    align-items: center;
    min-height: 44px;
    margin-bottom: 5px;
    padding-left: 10px;
    border-radius: 10px;
    background-color: var(--main-color-white);
}

.card__avatar {
    margin-right: 12px;
}

.card__texts {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    min-width: 0;
}

.card__header {
    display: block;
    height: 14px;
    color: var(--main-color-black);
    font-size: 14px;
    font-weight: 600;
    flex-shrink: 0;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.card__until {
    display: none;
    height: 20px;
    margin-bottom: 6px;
    font-size: 16px;
    font-weight: 500;
    color: var(--main-color-grey);
}

.card__hours {
    display: none;
    height: 20px;
    font-size: 16px;
    font-weight: 500;
    color: var(--main-color-grey);
    margin-bottom: 16px;
}

.card__inner-wraper {
    display: flex;
    align-items: center;
    margin-top: 6px;
}

.card__number {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 10px;
    font-size: 10px;
    font-weight: 600;
    color: var(--main-color-grey);
}

.card__project {
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--main-color-transp-blue);
    color: var(--main-color-blue);
    font-size: 8px;
    border-radius: 4px;
    padding: 1px;
    min-width: 12px;
}

.card__project-title {
    display: none;
    margin-right: 6px;
}

.card__arrow {
    display: flex;
    height: 24px;
    justify-content: flex-end;
}

@media screen and (min-width: 768px) {
    .card {
        position: relative;
        flex-direction: column;
        align-items: flex-start;
        margin-bottom: 12px;
        border-radius: 10px;
        padding: 24px;
    }

    .card__header {
        display: flex;
        height: auto;
        white-space: normal;
        font-size: 20px;
        line-height: 30px;
        margin-bottom: 16px;
    }

    .card__until,
    .card__hours {
        display: flex;
    }

    .card__avatar {
        position: absolute;
        width: 50px;
        bottom: 24px;
        right: 24px;
        margin: 0;
    }

    .card__arrow {
        display: none;
    }

    .card__inner-wraper {
        flex-direction: column;
        align-items: flex-start;
        margin-top: 0;
    }

    .card__number {
        font-size: 24px;
        color: var(--main-color-black);
        order: 1;
    }

    .card__project {
        padding: 8px 18px;
        font-size: 16px;
        font-weight: 500;
        line-height: 18px;
        border-radius: 10px;
        margin-bottom: 32px;
    }

    .card__project-title {
        display: flex;
    }
}
