:root {
    --main-color-grey: #B9B9B9;
    --main-color-black: #333333;
    --main-color-pink: #FC1370;
    --main-color-dark-pink: #C71059;
    --main-color-transp-pink: #FF97C0;
    --main-color-blue: #3F89FC;
    --main-color-light-blue: #ACCDFF;
    --main-color-transp-blue: #CDEAFB;
    --main-color-violet: #8342E9;
    --main-color-transp-violet: #E6D7FF;
    --main-color-orange: #F95721;
    --main-color-yellow: #FEBD2F;
    --main-color-light-yellow: #FFE6B0;
    --main-color-transp-yellow: #FFEFCB;

}