@import './color.css';
@import './fonts.css';

body {
    background: var(--main-color-transp-blue);
    font-family: 'Montserrat', sans-serif;
}

button {
    cursor: pointer;
}

input {
    width: 100%;
    box-sizing: border-box;
    border: 1px solid var(--main-color-grey);
    border-radius: 4px;
    padding: 8px 12px;
}

input::placeholder {
    font-size: 12px;
    font-weight: 400;
    color: var(--main-color-grey);
}